body {
    background-color: rgb(71, 62, 49);
    color:rgb(188, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
}

.main-page h1 {
    text-align: center;
}

img {
    object-fit: contain;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 30px;
    align-items: center;
    pointer-events: none;
    transition: all 0.5s ease;
}

.projects:hover {
    margin-left: 85px;
    margin-right: 85px;
}

/* mobile */
@media not screen and (min-width: 480px) {
    .body {
        margin: 10px;
    }

    .project {
        width: 250px;
        border-style: solid;
        border-color: black;
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(102, 97, 90);
        transition: all 0.5s ease;
        pointer-events: auto;
        word-break: break-word;
    }

    .project h3 {
        display: inline-block;
    }

    .iPhone {
        border-radius: 20px;
        height: 250px;
        border: 3px solid black;
    }
}

/* desktop */
@media only screen and (min-width: 480px) {
    .projects {
        margin-left: 125px;
        margin-right: 125px;
    }

    .header {
        margin-left: 125px;
        margin-right: 125px;
    }

    .projects-header {
        margin-left: 125px;
        margin-right: 125px;
    }

    .project {
        min-height: 400px;
        width: 350px;
        border-style: solid;
        border-color: black;
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(102, 97, 90);
        transition: all 0.5s ease;
        pointer-events: auto;
    }

    .project-page {
        margin-left: 125px;
        margin-right: 125px;
    }

    .iPhone {
        border-radius: 30px;
        height: 350px;
        border: 3px solid black;
    }
}


.project:hover {
    width: 400px;
    margin: 15px;
}

.project h3 {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(188, 238, 238);
}

.project p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.project img {
    width: 100%;
}

.project-page-link:hover {
    opacity: 75%;
    cursor: pointer;
}

.project-page-link h3,
.project-page-link p {
    color: rgb(188, 238, 238);
    word-wrap: break-word;
}

.project-details {
    width: 100%;
}

.project-title {
    margin-top: 0;
}

.project-page a h3 {
    margin: 0px 5px 5px 0px;
    display: inline;
    padding-bottom: 0px;
}

.project-page a,
.project-page a:visited {
    text-decoration: none;
}

#setup-img {
    width: 500px;
}

h2, h4, .project-page h1, .project-page h3 {
    border-bottom: 1px solid rgb(182, 170, 170);
    padding-bottom: 5px;
}

#cybersynth {
    width: 500px;
    transform: rotate(-20deg);
    margin-bottom: 5px;
}

#minesweeper-game {
    width: 400px;
    margin-left: 20px;
    border-radius: 7px;

}

.side-image {
    flex-grow: 1;
}

.side-text {
    display: inline-block;
    min-width: 200px;
    width: 400px;
    flex-grow: 3;
}

.text-side-image {
    display: flex;
    justify-content: top;
    flex-direction: row;
    flex-wrap: wrap;
}

.menutest-imgs {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.menutest-img {
    min-width: 220px;
    max-width: 33%;
    margin: -10px;
}

#enter_name {
    margin: -40px
}

.iPhone-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
}

a:visited {
    color: blue;
}



/* .project-page {

} */

/* .project-content {
    
} */

/* .project-description {

} */
