.rotate-on-hover {
    animation: rotate 1.5s linear infinite paused;
}
.rotate-on-hover:hover {
    animation-play-state: running; 
}
@keyframes rotate {
    to{ transform: rotate(360deg); }
}

.hover-link,
.hover-link:visited {
    color: inherit;
    text-decoration: none;
}

.hover-link:hover {
    color: blue;
}

