body {
    background-color: aliceblue;
    margin: 2%;
}

form {
    display: table;
    border-spacing: 0px 4px;
}

.form-row {
    display: table-row;
}

input {
    display: table-cell;
}

label {
    display: table-cell;
    padding-right: 5px;
}

input:focus {
    background-color: lightblue;
}

.nations-action-form {
    display: inline-block;
    margin-left: 5px;
}